# Primer modelo automático usando H2O

## Importamos las librerías

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import h2o
from h2o.automl import H2OAutoML

## Importamos los datos con pandas

In [2]:
# Cargando los datos
datos_titanic = pd.read_csv('./titanic_train.csv')
entrenamiento, pruebas = train_test_split(datos_titanic,test_size=0.3)

In [3]:
entrenamiento.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,623.000000,623.000000,623.000000,496.000000,623.000000,623.000000,623.000000
mean,445.770465,0.373997,2.296950,29.667681,0.510433,0.388443,31.569415
std,257.121139,0.484252,0.844944,14.856592,1.091978,0.825631,47.666306
min,2.000000,0.000000,1.000000,0.670000,0.000000,0.000000,0.000000
25%,224.500000,0.000000,1.000000,20.000000,0.000000,0.000000,7.895800
50%,444.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.500000
75%,665.000000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [4]:
entrenamiento.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
421,422,0,3,"Charters, Mr. David",male,21.0,0,0,A/5. 13032,7.7333,NaN,Q
223,224,0,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S
189,190,0,3,"Turcin, Mr. Stjepan",male,36.0,0,0,349247,7.8958,NaN,S
558,559,1,1,"Taussig, Mrs. Emil (Tillie Mandelbaum)",female,39.0,1,1,110413,79.6500,E67,S
237,238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.0,0,2,C.A. 31921,26.2500,NaN,S

## Hacemos una "limpieza" de nuestro datos antes de hacer el modelo

In [5]:
combine = [entrenamiento, pruebas]

In [6]:
# Convert string values 'male' and 'female' to int values
sex_mapping = {'male': 0, 'female': 1}
entrenamiento['Sex'] = entrenamiento['Sex'].map(sex_mapping)
pruebas['Sex'] = pruebas['Sex'].map(sex_mapping)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [7]:
calculo_edades = np.zeros((2,3))

In [8]:
for dataset in combine:
    for sex in range(0, 2):
        for pclass in range(0, 3):
            guess_df = dataset[(dataset['Sex'] == sex) & (dataset['Pclass'] == pclass+1)]['Age'].dropna()
            age_guess = guess_df.median()
            calculo_edades[sex, pclass] = int(age_guess/0.5 + 0.5) * 0.5
    
    for sex in range(0, 2):
        for pclass in range(0, 3):
            dataset.loc[(dataset.Age.isnull()) & (dataset.Sex == sex) &(dataset.Pclass == pclass+1),'Age'] = calculo_edades[sex, pclass]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [9]:
entrenamiento = entrenamiento.drop(['Ticket', 'Cabin', 'Name', 'PassengerId', 'SibSp', 'Parch', 'Embarked'], axis=1)
pruebas = pruebas.drop(['Ticket', 'Cabin', 'Name', 'SibSp', 'Parch', 'Embarked'], axis=1)

## Creamos y entrenamos nuestro modelo

In [10]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 25.241-b07, mixed mode)
  Starting server from C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\ADMINI~1\AppData\Local\Temp\1\tmpz8268nqw
  JVM stdout: C:\Users\ADMINI~1\AppData\Local\Temp\1\tmpz8268nqw\h2o_Administrator_started_from_python.out
  JVM stderr: C:\Users\ADMINI~1\AppData\Local\Temp\1\tmpz8268nqw\h2o_Administrator_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         18 secs
H2O_cluster_timezone:       UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.2
H2O_cluster_version_age:    15 days
H2O_cluster_name:           H2O_from_python_Administrator_p2c2o6
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.757 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.6 final
--------------------------  ---------------------------------------------------------

In [11]:
entrenamiento = h2o.H2OFrame(entrenamiento)
pruebas = h2o.H2OFrame(pruebas)

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [12]:
x = entrenamiento.columns
y = 'Survived'
x.remove(y)

In [13]:
entrenamiento[y] = entrenamiento[y].asfactor()

In [14]:
aml_ti = H2OAutoML(max_runtime_secs= 120,max_models= 10)

In [15]:
aml_ti.train(x = x, y = y,
          training_frame = entrenamiento)

AutoML progress: |
23:16:46.713: AutoML: XGBoost is not available; skipping it.

████████████████████████████████████████████████████████| 100%

In [16]:
lb_ti = aml_ti.leaderboard
lb_ti

model_id,auc,logloss,aucpr,mean_per_class_error,rmse,mse
GBM_1_AutoML_20200514_231646,0.865418,0.422783,0.836336,0.187675,0.361024,0.130338
GBM_3_AutoML_20200514_231646,0.863893,0.425542,0.832945,0.185056,0.361435,0.130635
GBM_4_AutoML_20200514_231646,0.861533,0.432837,0.827093,0.180401,0.363912,0.132432
GBM_2_AutoML_20200514_231646,0.8603,0.428529,0.832264,0.186002,0.36182,0.130914
StackedEnsemble_BestOfFamily_AutoML_20200514_231646,0.857918,0.414541,0.827484,0.18001,0.356843,0.127337
GBM_grid__1_AutoML_20200514_231646_model_1,0.856878,0.434578,0.827315,0.194641,0.366922,0.134632
DeepLearning_1_AutoML_20200514_231646,0.855744,0.432237,0.816939,0.196093,0.365037,0.133252
StackedEnsemble_AllModels_AutoML_20200514_231646,0.855233,0.416884,0.825455,0.183438,0.357846,0.128054
GLM_1_AutoML_20200514_231646,0.844404,0.450883,0.792748,0.184637,0.375631,0.141098
DRF_1_AutoML_20200514_231646,0.843931,1.5328,0.773715,0.206069,0.387438,0.150108

In [17]:
h2o.get_model('GBM_1_AutoML_20200514_231646')

Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  GBM_1_AutoML_20200514_231646


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,37.0,37.0,23022.0,6.0,6.0,6.0,29.0,57.0,44.91892

ModelMetricsBinomial: gbm
** Reported on train data. **

MSE: 0.05492856962665486
RMSE: 0.23436844844529492
LogLoss: 0.2128517845020708
Mean Per-Class Error: 0.06560471002531088
AUC: 0.9804721030042919
AUCPR: 0.975846639930719
Gini: 0.9609442060085838

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.41731862755628235:

              0      1   Error           Rate
0      0  379.0   11.0  0.0282   (11.0/390.0)
1      1   24.0  209.0   0.103   (24.0/233.0)
2  Total  403.0  220.0  0.0562   (35.0/623.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value    idx
0                        max f1   0.417319    0.922737  158.0
1                        max f2   0.231244    0.930521  209.0
2                  max f0point5   0.521223    0.952153  144.0
3                  max accuracy   0.417319    0.943820  158.0
4                 max precision   0.978921    1.000000    0.0
5                    max recall   0.070316    1.000000  336.0
6               max specificity   0.978921    1.000000    0.0
7              max absolute_mcc   0.417319    0.879552  158.0
8    max min_per_class_accuracy   0.321242    0.925641  182.0
9   max mean_per_class_accuracy   0.417319    0.934395  158.0
10                      max tns   0.978921  390.000000    0.0
11                      max fns   0.978921  232.000000    0.0
12                      max fps   0.025702  390.000000  399.0
13                      max tps   0.070316  233.000000  336.0
14                      max tnr   0.978921    1.000000    0.0
15                      max fnr   0.978921    0.995708    0.0
16                      max fpr   0.025702    1.000000  399.0
17                      max tpr   0.070316    1.000000  336.0

Gains/Lift Table: Avg response rate: 37.40 %, avg score: 37.28 %

,,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain
0,,1,0.011236,0.974578,2.673820,2.673820,1.000000,0.975997,1.000000,0.975997,0.030043,0.030043,167.381974,167.381974
1,,2,0.020867,0.973194,2.673820,2.673820,1.000000,0.973860,1.000000,0.975011,0.025751,0.055794,167.381974,167.381974
2,,3,0.030498,0.971479,2.673820,2.673820,1.000000,0.972412,1.000000,0.974190,0.025751,0.081545,167.381974,167.381974
3,,4,0.040128,0.969710,2.673820,2.673820,1.000000,0.970864,1.000000,0.973392,0.025751,0.107296,167.381974,167.381974
4,,5,0.051364,0.968253,2.673820,2.673820,1.000000,0.968923,1.000000,0.972414,0.030043,0.137339,167.381974,167.381974
5,,6,0.101124,0.955462,2.673820,2.673820,1.000000,0.961817,1.000000,0.967200,0.133047,0.270386,167.381974,167.381974
6,,7,0.150883,0.922467,2.673820,2.673820,1.000000,0.937690,1.000000,0.957468,0.133047,0.403433,167.381974,167.381974
7,,8,0.200642,0.870730,2.673820,2.673820,1.000000,0.901335,1.000000,0.943547,0.133047,0.536481,167.381974,167.381974
8,,9,0.300161,0.654072,2.587567,2.645223,0.967742,0.761745,0.989305,0.883270,0.257511,0.793991,158.756749,164.522274
9,,10,0.399679,0.292819,1.380036,2.330196,0.516129,0.439815,0.871486,0.772852,0.137339,0.931330,38.003600,133.019632
10,,11,0.500803,0.161006,0.424416,1.945375,0.158730,0.224588,0.727564,0.662144,0.042918,0.974249,-57.558417,94.537526
11,,12,0.600321,0.109054,0.129378,1.644328,0.048387,0.126984,0.614973,0.573428,0.012876,0.987124,-87.062163,64.432765
12,,13,0.699839,0.087428,0.086252,1.422766,0.032258,0.097384,0.532110,0.505734,0.008584,0.995708,-91.374775,42.276647
13,,14,0.825040,0.070311,0.034280,1.212062,0.012821,0.075562,0.453307,0.440455,0.004292,1.000000,-96.572026,21.206226
14,,15,0.898876,0.056650,0.000000,1.112500,0.000000,0.064617,0.416071,0.409582,0.000000,1.000000,-100.000000,11.250000
15,,16,1.000000,0.025702,0.000000,1.000000,0.000000,0.045473,0.373997,0.372762,0.000000,1.000000,-100.000000,0.000000

ModelMetricsBinomial: gbm
** Reported on cross-validation data. **

MSE: 0.13033844564596098
RMSE: 0.36102416213594485
LogLoss: 0.4227829836608968
Mean Per-Class Error: 0.18767470012105214
AUC: 0.8654176295807198
AUCPR: 0.8363356359956586
Gini: 0.7308352591614395

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.3594911669864877:

              0      1   Error            Rate
0      0  334.0   56.0  0.1436    (56.0/390.0)
1      1   54.0  179.0  0.2318    (54.0/233.0)
2  Total  388.0  235.0  0.1766   (110.0/623.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value    idx
0                        max f1   0.359491    0.764957  181.0
1                        max f2   0.202783    0.805802  241.0
2                  max f0point5   0.771677    0.805658   99.0
3                  max accuracy   0.610527    0.829856  134.0
4                 max precision   0.978851    1.000000    0.0
5                    max recall   0.026935    1.000000  399.0
6               max specificity   0.978851    1.000000    0.0
7              max absolute_mcc   0.558145    0.630686  153.0
8    max min_per_class_accuracy   0.280367    0.800000  208.0
9   max mean_per_class_accuracy   0.359491    0.812325  181.0
10                      max tns   0.978851  390.000000    0.0
11                      max fns   0.978851  232.000000    0.0
12                      max fps   0.026935  390.000000  399.0
13                      max tps   0.026935  233.000000  399.0
14                      max tnr   0.978851    1.000000    0.0
15                      max fnr   0.978851    0.995708    0.0
16                      max fpr   0.026935    1.000000  399.0
17                      max tpr   0.026935    1.000000  399.0

Gains/Lift Table: Avg response rate: 37.40 %, avg score: 37.64 %

,,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain
0,,1,0.011236,0.973127,2.673820,2.673820,1.000000,0.976555,1.000000,0.976555,0.030043,0.030043,167.381974,167.381974
1,,2,0.020867,0.971554,2.673820,2.673820,1.000000,0.972205,1.000000,0.974547,0.025751,0.055794,167.381974,167.381974
2,,3,0.030498,0.969693,2.673820,2.673820,1.000000,0.970846,1.000000,0.973378,0.025751,0.081545,167.381974,167.381974
3,,4,0.040128,0.966507,2.673820,2.673820,1.000000,0.968096,1.000000,0.972111,0.025751,0.107296,167.381974,167.381974
4,,5,0.051364,0.964738,2.291845,2.590263,0.857143,0.965495,0.968750,0.970663,0.025751,0.133047,129.184549,159.026288
5,,6,0.101124,0.945536,2.415063,2.504053,0.903226,0.955911,0.936508,0.963404,0.120172,0.253219,141.506299,150.405341
6,,7,0.150883,0.916201,2.587567,2.531595,0.967742,0.930683,0.946809,0.952613,0.128755,0.381974,158.756749,153.159529
7,,8,0.200642,0.856165,2.070054,2.417133,0.774194,0.885545,0.904000,0.935980,0.103004,0.484979,107.005399,141.713305
8,,9,0.300161,0.607627,1.897549,2.244865,0.709677,0.724736,0.839572,0.865942,0.188841,0.673820,89.754949,124.486470
9,,10,0.399679,0.317923,1.078153,1.954358,0.403226,0.456235,0.730924,0.763926,0.107296,0.781116,7.815312,95.435821
10,,11,0.500803,0.199211,0.763948,1.713987,0.285714,0.251626,0.641026,0.660481,0.077253,0.858369,-23.605150,71.398701
11,,12,0.600321,0.125744,0.258757,1.472746,0.096774,0.149735,0.550802,0.575812,0.025751,0.884120,-74.124325,47.274563
12,,13,0.699839,0.095327,0.431261,1.324645,0.161290,0.110866,0.495413,0.509696,0.042918,0.927039,-56.873875,32.464464
13,,14,0.799358,0.077923,0.172504,1.181206,0.064516,0.085118,0.441767,0.456837,0.017167,0.944206,-82.749550,18.120551
14,,15,0.898876,0.055533,0.172504,1.069528,0.064516,0.067201,0.400000,0.413699,0.017167,0.961373,-82.749550,6.952790
15,,16,1.000000,0.026772,0.381974,1.000000,0.142857,0.045040,0.373997,0.376418,0.038627,1.000000,-61.802575,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.8427226,0.011759682,0.84,0.832,0.84,0.83870965,0.86290324
1,auc,0.8664121,0.024851287,0.8983075,0.8445617,0.84053385,0.88383025,0.8648272
2,aucpr,0.84148055,0.02738292,0.8537077,0.7940579,0.8421083,0.8599944,0.8575346
3,err,0.15727742,0.011759682,0.16,0.168,0.16,0.16129032,0.13709678
4,err_count,19.6,1.5165751,20.0,21.0,20.0,20.0,17.0
5,f0point5,0.79643625,0.036614254,0.74786323,0.7894737,0.80097085,0.7933579,0.8505155
6,f1,0.78518295,0.017842997,0.7777778,0.7741935,0.76744187,0.8113208,0.79518074
7,f2,0.7766016,0.04118126,0.8101852,0.75949365,0.73660713,0.83011585,0.74660635
8,lift_top_group,2.6849546,0.19799966,2.9761906,2.6041667,2.7173913,2.4313726,2.6956522
9,logloss,0.42273375,0.0433518,0.37495628,0.49084017,0.4330753,0.41048503,0.40431198
10,max_per_class_error,0.22925353,0.059684988,0.16666667,0.25,0.2826087,0.16438356,0.2826087
11,mcc,0.6648603,0.024250288,0.65720105,0.6415029,0.65006125,0.67228407,0.7032524
12,mean_per_class_accuracy,0.828347,0.012017318,0.8383534,0.8165584,0.81439185,0.83937687,0.8330546
13,mean_per_class_error,0.17165296,0.012017318,0.16164659,0.18344156,0.18560815,0.16062315,0.16694537
14,mse,0.13032046,0.014695364,0.11628466,0.15482333,0.13105501,0.1259732,0.12346612
15,pr_auc,0.84148055,0.02738292,0.8537077,0.7940579,0.8421083,0.8599944,0.8575346
16,precision,0.8055754,0.059711047,0.7291667,0.8,0.825,0.7818182,0.8918919
17,r2,0.44228014,0.056917418,0.4787872,0.34547764,0.4365067,0.47973037,0.47089884
18,recall,0.77225065,0.06178631,0.8333333,0.75,0.7173913,0.84313726,0.7173913
19,rmse,0.3605602,0.01989982,0.34100536,0.39347598,0.36201522,0.35492703,0.35137746

See the whole table with table.as_data_frame()

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2020-05-14 23:16:56,2.690 sec,0.0,0.483863,0.661049,0.500000,0.373997,1.00000,0.626003
1,,2020-05-14 23:16:56,2.719 sec,5.0,0.386208,0.479914,0.944382,0.932306,2.67382,0.093098
2,,2020-05-14 23:16:56,2.742 sec,10.0,0.329949,0.382578,0.957390,0.946868,2.67382,0.089888
3,,2020-05-14 23:16:56,2.758 sec,15.0,0.301374,0.331839,0.961274,0.953742,2.67382,0.086677
4,,2020-05-14 23:16:56,2.770 sec,20.0,0.278844,0.290910,0.966221,0.959682,2.67382,0.077047
5,,2020-05-14 23:16:56,2.782 sec,25.0,0.263327,0.261566,0.971151,0.964821,2.67382,0.072231
6,,2020-05-14 23:16:56,2.802 sec,30.0,0.252281,0.241989,0.972945,0.966995,2.67382,0.070626
7,,2020-05-14 23:16:56,2.823 sec,35.0,0.239348,0.220185,0.977578,0.972976,2.67382,0.062600
8,,2020-05-14 23:16:56,2.829 sec,37.0,0.234368,0.212852,0.980472,0.975847,2.67382,0.056180

Variable Importances:

  variable  relative_importance  scaled_importance  percentage
0      Sex           182.777588           1.000000    0.316125
1      Age           170.915268           0.935100    0.295608
2     Fare           135.723389           0.742560    0.234742
3   Pclass            88.765167           0.485646    0.153525

## Predecimos con nuestro árbol y el coeficiente de determinación

In [18]:
Y_pred = aml_ti.leader.predict(pruebas)

gbm prediction progress: |████████████████████████████████████████████████| 100%

In [19]:
Y_pred

predict,p0,p1
1,0.0348354,0.965165
0,0.815347,0.184653
0,0.877107,0.122893
0,0.933309,0.0666909
0,0.929689,0.070311
1,0.467821,0.532179
0,0.872299,0.127701
0,0.898222,0.101778
0,0.603652,0.396348
0,0.946203,0.0537973